<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-nav" class="navbar-brand">Dashboard  |</div>
        <div  class="navbar-nav" class="navbar-brand">{{user}}</div>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><button *ngIf="_authenticateUser.isUserExist()" class="logout_btn" (click)='LogoutHandler()'>LogOut</button></li>
            
        </ul>
    </nav>

</header>