<div>
    <app-header></app-header>
    <div class="container p-3 my-3 border login_width">
        <form #userForm="ngForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="userName" required name="userName" #userName="ngModel"
                    [(ngModel)]="user.name">
                <small class="text-danger" [class.d-none]="userName.valid || userName.untouched"
                    *ngIf="userName.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" id="userAge" required name="userAge" #userAge="ngModel"
                    [(ngModel)]="user.age">
                <small class="text-danger" [class.d-none]="userAge.valid || userAge.untouched"
                    *ngIf="userAge.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="userAddress" required name="userAddress"
                    #userAddress="ngModel" [(ngModel)]="user.address">
                <small class="text-danger" [class.d-none]="userAddress.valid || userAddress.untouched"
                    *ngIf="userAddress.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" required id="userEmail" name="userEmail" #userEmail="ngModel"
                    [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <div *ngIf="userEmail.errors && ( userEmail.touched || userEmail.invalid)">
                    <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched"
                        *ngIf="userEmail.errors?.required; else pattern"> Required </small>
                    <ng-template #pattern>
                        <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched"
                            *ngIf="userEmail.errors?.pattern"> Enter a valid email </small>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" id="userContact" name="userContact" #userContact="ngModel"
                    [(ngModel)]="user.contact">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" required name="password" #password="ngModel"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="user.password">
                <div *ngIf="password.errors && ( password.touched || password.invalid)">
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched"
                        *ngIf="password.errors?.required; else passwordPattern"> Required </small>
                    <ng-template #passwordPattern>
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched"
                            *ngIf="password.errors?.pattern"> Password must contain one upercase,
                            one lowercase, and min 8 digit </small>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" required name="confirmPassword"
                    #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" pattern="{{password.value}}">
                <div *ngIf="confirmPassword.errors && ( confirmPassword.touched || confirmPassword.invalid)">
                    <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched"
                        *ngIf="confirmPassword.errors?.required; else passwordPattern"> Required </small>
                    <ng-template #passwordPattern>
                        <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched"
                            *ngIf="confirmPassword.errors?.pattern"> Password not match with confirm password. </small>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success" (click)="signupHandler()" [disabled]="userForm.form.invalid"
                    [class.btn-secondary]="userForm.form.invalid">Create</button>
            </div>
        </form>
    </div>
</div>