.login_page {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.disp_column {
    display: block;
    flex-direction: column;
}

.error_msg{
    margin: 20px 0 20px 0 20px !important;
    width: 100%;
}

.btn {
    flex-direction: column;
    margin-right: 20px;
}

.login_width {
    width: 50% !important;
    margin-top: 80px !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    font-size: 10px;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
    font-size: 10px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: gray;
    font-size: 10px;
}
