<div>
    <app-header></app-header>
    <div class="container p-3 my-3 border login_width">
        <div *ngIf="isErrorOccured" class="error_msg alert alert-danger">
            <span>{{error_message}}</span>
        </div>
        <div class="login_page">
            <form #userForm="ngForm">
                <div class="form-group">
                    <label>UserName</label>
                    <input type="email" class="form-control" name="userName" id="userName" #userName='ngModel' required
                        [(ngModel)]='user.email' placeholder="Enter Email Or UserName"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <div *ngIf="userName.errors && ( userName.touched || userName.invalid)">
                        <small class="text-danger" [class.d-none]="userName.valid || userName.untouched"
                            *ngIf="userName.errors?.required; else pattern"> Required </small>
                        <ng-template #pattern>
                            <small class="text-danger" [class.d-none]="userName.valid || userName.untouched"
                                *ngIf="userName.errors?.pattern"> Enter a valid username pattern </small>
                        </ng-template>
                    </div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="userPassWord" id="userPassWord" required
                        #userPassWord="ngModel" [(ngModel)]='user.password' placeholder="Enter Password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <div *ngIf="userPassWord.errors && ( userPassWord.touched || userPassWord.invalid)">
                        <small class="text-danger" [class.d-none]="userPassWord.valid || userPassWord.untouched"
                            *ngIf="userPassWord.errors?.required; else passwordPattern"> Required </small>
                        <ng-template #passwordPattern>
                            <small class="text-danger" [class.d-none]="userPassWord.valid || userPassWord.untouched"
                                *ngIf="userPassWord.errors?.pattern"> Password must contain one upercase,
                                one lowercase, and min 8 digit </small>
                        </ng-template>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit" class="btn btn-success" [disabled]="userForm.form.invalid"
                        [class.btn-secondary]="userForm.form.invalid" (click)="loginHandler()">Login</button>
                    <button type="submit" class="btn btn-success" (click)="signUpHandler('New User')">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>