<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form class="form-horizontal" action="/employee/save" method="post">

        <div class="form-gropu">
            <label class="col-sm-2 control-lable">First Name :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">dob:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="dob">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Address :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="address">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Age :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="age">
            </div>
        </div>
        <div class="form-gropu">
            <label class="col-sm-2 control-lable">Joining Date :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="joiningDate">
            </div>
        </div>
        <div class="form-gropu">
            <label class="col-sm-2 control-lable">Salary :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="salary">
            </div>
        </div>
        <div class="form-gropu">
            <label class="col-sm-2 control-lable">Phone No:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="phoneNo">
            </div>
        </div>
        <div class="form-gropu">
            <label class="col-sm-2 control-lable">Role:</label>
            <div class="col-sm-10">
                <select name="role">
                    <option th:each="role : ${employeeRoleList}" th:value="${role.authority}"  th:text="${role.authority}"> </option>
                </select>
            </div>
        </div>
        <div class="form-gropu">
            <label class="col-sm-2 control-lable">Company:</label>
            <div class="col-sm-10">
                <select name="companyId">
                    <option th:each="company : ${companyList}" th:value="${company.id}" th:text="${company.name}" > </option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default"><a href="/employee/show"></a>Submit</button>
        </div>
    </form>
</div>
</body>
</html>