<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form class="form-horizontal" action="/employeeRole/save" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  name="id" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Authority:</label>
            <div class="col-sm-10">
                <select name="authority">
                    <option th:value="Developer"
                            th:text="Developer"></option>
                    <option th:value="Analyst"
                            th:text="Analyst"></option>
                    <option th:value="Director"
                            th:text="Director"></option>
                    <option th:value="Manager"
                            th:text="Manager"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" />
            </div>
        </div>
            <div class="row">
                <button type="submit" class="btn btn-default" ><a href="/employeeRole/show"></a>Submit</button>
            </div>
    </form>
</div>
</body>
</html>