<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Company details..</h1>
<div>
    <br>
    <br>
    <button><a href="/company/add">Add</a></button>
</div>
<table class="table table-striped" style="text-align:center" >
    <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Company Branch</th>
        <th>phone No</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr data-th-each="value : ${company}">
        <td data-th-text="${value.id}"><a href="/value/${value.id}">Id</a></td>
        <td data-th-text="${value.name}"></td>
        <td data-th-text="${value.branch}"></td>
        <td data-th-text="${value.phoneNo}"></td>
        <td data-th-text="${value.email}"></td>
        <td data-th-text="${value.address}"></td>
        <td><a th:href="${'/company/edit/' + value.id}">Edit</a></td>
        <td><a th:href="${'/company/delete/' + value.id}">Delete</a></td>
    <tr>
    </tr>
</table>
</body>
</html>