<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Employee Details....</h2>
<div class="col-sm-10">
    <form id="employeeList" action="/employee/list">
        <label class="com-sm-2 control-label">Company Name</label>

        <select onchange="showData()" id="companyId" name="companyId">
            <option th:value="0" th:text="All"></option>
            <option th:each="company : ${company}" th:value="${company.id}" th:text="${company.name}"></option>
        </select>

        <input  type="text" name="search" class="search" placeholder="search" ondblclick="searchFun()">

        <button><a href="/employee/add">Add</a></button>
        <label class="com-sm-2 control-label">From Date</label>
        <input type="text" class="form-control"  name="fromDate" ondblclick="showdate()">
        <label class="com-sm-2 control-label">To Date</label>
        <input type="text" class="form-control" name="toDate" ondblclick="showdate()">

    </form>
</div>

<table  class ="table table-striped" style = "text-align:center" >

    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Join Date</th>
        <th>Salary</th>
        <th>Phone No</th>
        <th>Company</th>
        <th>Role</th>
        <th>Edit</th>
        <th>delete</th>
    </tr>
    <tr data-th-each="value : ${employee}">
        <td data-th-text="${value.id}"><a href="/value/${value.id}">Id</a></td>
        <td data-th-text="${value.firstName}">Person FirstName</td>
        <td data-th-text="${value.lastName}">Person LastName</td>
        <td data-th-text="${value.age}">Age</td>
        <td data-th-text="${value.address}">Address</td>
        <td data-th-text="${value.dob}">DOB</td>
        <td data-th-text="${value.joiningDate}"></td>
        <td data-th-text="${value.salary}"></td>
        <td data-th-text="${value.phoneNo}"></td>
        <td data-th-text="${value.companyId}"></td>
        <td data-th-text="${value.role.authority}"></td>
        <td><a th:href="${'/employee/edit/' + value.id}">Edit</a></td>
        <td><a th:href="${'/employee/delete/' + value.id}">Delete</a></td>
    </tr>
</table>
</body>
</html>
<script>
    function showData() {
        document.getElementById("employeeList").submit();
    }
    function searchFun() {
        document.getElementById('employeeList').submit();
    }
    function showdate() {
        document.getElementById("employeeList").submit();
    }
</script>