<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Employee Role details..</h1>
<div>

    <button><a href="/employeeRole/add">Add</a></button>
</div>
<table class="table table-striped" style="text-align:center" >
    <tr>
        <th>ID</th>
        <th>Authority</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <tr data-th-each="value : ${employeeRole}">
        <td data-th-text="${value.id}"><a href="/value/${value.id}">Id</a></td>
        <td data-th-text="${value.authority}"></td>
        <td data-th-text="${value.description}"></td>
        <td><a th:href="${'/employeeRole/edit/' + value.id}">Edit</a></td>
        <td><a th:href="${'/employeeRole/delete/' + value.id}">Delete</a></td>
    <tr>
    </tr>
</table>
</body>
</html>