<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body bgcolor="#cd5c5c">
<h2>Employee List</h2>
<table class="table table-striped" style="text-align:center">
    <tr>
        <th>Id</th>
        <th>Employee Name</th>
        <th>City</th>
        <th>Age</th>
        <th>Address</th>
        <th>Edit </th>
        <th>delete</th>
        <th>View</th>
    </tr>
    <tr data-th-each="value : ${employeeList}">
        <td data-th-text="${value.id}"><a href="/value/${value.id}">Id</a></td>
        <td data-th-text="${value.name}">Employee Name</td>
        <td data-th-text="${value.city}">city</td>
        <td data-th-text="${value.age}">Age</td>
        <td data-th-text="${value.address}">Address</td>
        <td><a th:href="${'/employee/edit/' + value.id}">Edit</a></td>
        <td><a th:href="${'/employee/delete/' + value.id}">Delete</a></td>
        <td><a th:href="${'/employee/view/' + value.id}">View</a></td>

</table>

</body>
</html>