<div>
    <app-header></app-header>
    <div class="container p-3 my-3 border login_width">
        <form #userForm="ngForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="userName" required name="userName" #userName="ngModel"
                    [value]="user.name" [(ngModel)]="user.name">
                <small class="text-danger" [class.d-none]="userName.valid || userName.untouched"
                    *ngIf="userName.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" id="userAge" required name="userAge" #userAge="ngModel"
                    [value]="user?.age" [(ngModel)]="user.age">
                <small class="text-danger" [class.d-none]="userAge.valid || userAge.untouched"
                    *ngIf="userAge.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="userAddress" required name="userAddress"
                    #userAddress="ngModel" [value]="user?.address" [(ngModel)]="user.address">
                <small class="text-danger" [class.d-none]="userAddress.valid || userAddress.untouched"
                    *ngIf="userAddress.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" id="userEmail" required name="userEmail" #userEmail="ngModel"
                    [value]="user?.email" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <div *ngIf="userEmail.errors && ( userEmail.touched || userEmail.invalid)">
                    <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched"
                        *ngIf="userEmail.errors?.required; else pattern"> Required </small>
                    <ng-template #pattern>
                        <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched"
                            *ngIf="userEmail.errors?.pattern"> Enter a valid email </small>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" id="userContact" required name="userContact"
                    #userContact="ngModel" [value]="user?.contact" [(ngModel)]="user.contact">
                <small class="text-danger" [class.d-none]="userContact.valid || userContact.untouched"
                    *ngIf="userContact.errors?.required">Required</small>
            </div>
            <div class="form-group">
                <button *ngIf="isNewUser; else update" [disabled]="userForm.form.invalid"
                    [class.btn-secondary]="userForm.form.invalid" class=" btn btn-success"
                    (click)="saveUserHandler()">Save</button>
                <ng-template #update>
                    <button class=" btn btn-success" [disabled]="userForm.form.invalid"
                        [class.btn-secondary]="userForm.form.invalid" (click)="updateUserHandler()">Update</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>