.table_margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    border: 1px solid gainsboro;
}

.table > thead {
   border: 1px solid gainsboro;
}

.table > tbody {
    border: 1px solid gainsboro;
}

.table > thead > tr  {
    border: 1px solid gainsboro;
}

.table > tbody > tr  {
    border: 1px solid gainsboro;
}