<div class="container p-3 my-3 ">
    <div>
        <button class="btn btn-info" (click)="addNewUserHandler('Add User')">Add User</button>
    </div>
    <div class="table_margin">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of personList">
                    <td>{{employee.name}}</td>
                    <td>{{employee.age}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.contact}}</td>
                    <td><button class=" btn btn-info" (click)="deleteEmployee(employee.id)">Delete</button>
                    </td>
                    <td> <a [routerLink]="['/person/update', employee | json]"><button
                                class="btn btn-info">Update</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>